# Python Byte-compiled
*.pyc

# Log files
output/_logs
output/_lies_logs
output/_test_logs
output/_check_logs
output/_verify_logs

# Solvers
trash
solvers
verifier
method/new_solver

# Other
sync.*
test.py
parse.py
generate.py

tools/sync
tools/exps
tools/stat
