# Python Byte-compiled
*.pyc

# Log files
output/_logs
output/_test_logs
output/_check_logs
output/_verify_logs

# Solvers
solvers
trash

# Other
test.py
parse.py
tools/sync/list.sh
tools/sync/load.sh
sync.*
